extends ./layout.pug

block variables
  -
    var title = PrismicDOM.RichText.asText(recipe.data.name)
    var recipeImageUrl = recipe.data.image.url || "/images/background.png"
    var showDescription = (recipe.data.description && recipe.data.description.length > 0)
      || (recipe.data.note && recipe.data.note.length > 0)

block body
  div.container
    div.hero.box.recipe-name(class=(recipe.data.image.url ? "has-image" : ""), style={"background-image": `url(${recipeImageUrl})`})
      div.hero-body
        h1.title= PrismicDOM.RichText.asText(recipe.data.name)
    article.box.recipe(data-wio-id=recipe.id)
      div.columns
        div.column.is-one-quarter
          if recipe.data.serving_size
            p.serving-size.has-text-primary.is-marginless= recipe.data.serving_size
          if recipe.data.oven_temperature
            p.oven-temp
              span.icon.is-small
                svg.inline-icon.is-small
                  use(xlink:href="/images/cooking-icons.svg#oven")
              span= `${recipe.data.oven_temperature}°`
          h3.section-title='Ingredients'
          include ../includes/ingredients.pug
        div.column
          if showDescription
            != PrismicDOM.RichText.asHtml(recipe.data.description, ctx.linkResolver)
            if recipe.data.note && recipe.data.note.length > 0
              p.note.has-text-primary= `Note: ${recipe.data.note}`
          h3.section-title='Method'
          include ../includes/instructions.pug
