extends ./layout.pug

block variables
  title= PrismicDOM.RichText.asText(recipe.data.name)
  - var recipeImageUrl = recipe.data.image.url ? recipe.data.image.url : "/images/background.png";

block body
  div.hero.recipe-name(class=(recipe.data.image.url ? "has-image" : ""), style={"background-image": "url(" + recipeImageUrl + ")"})
    div.hero-body
      div.container
        h1.title= PrismicDOM.RichText.asText(recipe.data.name)
  article.recipe-detail(data-wio-id=recipe.id)
    div.tile.is-ancestor
      div.tile.is-parent
        article.tile.is-child
          div.content
            if recipe.data.serving_size
              p.serving-size= recipe.data.serving_size
            p.title= "Ingredients"
            div.content
              include ../includes/ingredients.pug
      div.tile.is-vertical.is-8
        div.tile.is-parent
          article.tile.is-child
            div.content
              if recipe.data.note
                p.note= "Note: " + recipe.data.note
              p.title= "Method"
              div.content
                include ../includes/instructions.pug
